! Fonts ====================================================
! set font and fontsize
XTerm*faceName: monospace
XTerm*faceSize: 12

! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: MediumDejaVu Sans Mono
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22


! Ensure that your locale is set up for UTF-8. If you do not use UTF-8, you may need to force xterm to more strictly follow your locale by setting
XTerm.vt100.locale: true

! Cursor ====================================================
! pointer and cursor (blinking and color)
XTerm*pointerColor: #32304e
XTerm*pointerColorBackground: #E3E2E2
XTerm*cursorColor: #59A2BE
XTerm*cursorBlink: true


!! Selecting Text ========================================================
! Only select text
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: true

!! Scrolling ========================================================
! Use: Shift-Pageup / Shift-Pagedown to scroll or mousewheel
! Lines of output that you can scroll back over
XTerm*saveLines: 16384

! Turn the scrollbar on, and put it on the right
! XTerm.vt100.scrollBar: true
! XTerm.vt100.scrollbar.width: 8
! xterm*scrollBar: true
! xterm*rightScrollBar: true

! Do not scroll when there is new input e.g. tail -f /var/syslog
XTerm*scrollTtyOutput: false


!! Keybinding ========================================================
! http://blog.rot13.org/2010/03/change-font-size-in-xterm-using-keyboard.html
! - change fontsize on the fly (ctrl+plus = increase ; ctrl+minus = decrease, ctrl+0 = default)
! - copy/paste hotkey (ctrl+shift+c = copy ; ctrl+shift+v = paste)
! - open url (clickable links)
!   1) double click to highlight the full url
!   2) Shift + click it to open it
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
  <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
  <Btn2Up>: insert-selection(PRIMARY)

! enable copy/paste hotkey to work (shift+insert = paste ; mouse highlight = copy)
XTerm*selectToClipboard: true
! disable fullscreen hotkey alt+enter (hotkey conflicts with weechat, midnight commander ...etc)
XTerm*fullscreen: never
! enable alt key to work
XTerm*metaSendsEscape: true
! Fix the backspace key (for Emacs)
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

! double-click to select whole URLs :D
! https://scarygliders.net/2011/12/01/customize-xterm-the-original-and-best-terminal/
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48



! special
*.foreground:   #e3e2e2
*.background:   #0f0e1c
*.cursorColor:  #59A2BE



! black
*.color0:       #19172a
*.color8:       #bcb8f8

! red
*.color1:       #212036
*.color9:       #e87979

! green
*.color2:       #7ae0ae
*.color10:      #261bed

! yellow
*.color3:       #6a54a6
*.color11:      #f6c1ff

! blue
*.color4:       #66648e
*.color12:      #9d98e6

! magenta
*.color5:       #8a88aa
*.color13:      #79d7e7

! cyan
*.color6:       #b3b2c8
*.color14:      #59a2be

! white
*.color7:       #817aec
*.color15:      #c070f4



